<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello {{request.user|title}}</h1>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>

        {% endif %}
    </br>
        <a  href="{% url 'create-ticket' %}">&#x2b; Ticket</a>

        <h2>Your tickets</h2>
        {% for ticket in tickets %}
        <a > <li>{{ticket.title}}</li></a>

        {% empty %}
        <h3>ticket not exist</h3>
        {% endfor %}
        {% for ticketop in ticketsOp %}
    </br>
       <a> <li>{{ticketop.title}}</li></a>

        {% empty %}

        {% endfor %}
        <script src="" async defer></script>
    </body>
</html>